.DS_Store

LiarsDice.xcworkspace/xcuserdata/

libSoar.a

UM Liars Dice/UM Liars Dice.xcodeproj/project.xcworkspace/xcuserdata
UM Liars Dice/UM Liars Dice.xcodeproj/xcuserdata

Pods/
Podfile.lock

*.xcuserstate
